
<label style="text-align: center">Name : {{data.element.CandidateName}}</label><br>
<label>Surname : {{data.element.CandidateSurname}}</label><br>
<label>Mobile : {{data.element.CandidateMobile}}</label><br>
<label>Email : {{data.element.CandidateEmail}}</label><br>
<label>Position : {{data.element.Position}}</label><br>
<label>CV : <a href="{{data.element.CandidateCv}}" download>
  <button mat-icon-button>
    <mat-icon matTooltip="Download CV" mat-fab color="primary" aria-label="insert_drive_file icon">insert_drive_file</mat-icon>
  </button>
</a></label>
