.example-sidenav{
  background-color: black;
  color: white;
}
.lead{
  color: white;
}
.noexp{
  font-size: 5px;
  color: white;
}
mat-toolbar{
  background-color: black;
  height: 55px;
}
.sidenav-menu{
  color: white;
}
mat-sidenav-container {
  height: 100%;
}

mat-sidenav-container mat-sidenav mat-nav-list .chevron-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
  right: 0;
  float: right;
  position: absolute;
  color: white;
}

mat-sidenav-container mat-sidenav mat-nav-list .chevron-button.rotated {
  transform: rotate(180deg);
}

