
table {
  width: 100%;
  margin-top: 8%;
}
th{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

section{
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.add{
  background-color: black;
  border-radius: 5px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.add:hover{
  background-color: yellow;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
