
.form-container {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  left: 30%;
  padding-top: 20px;
}

.mat-card-content {
  justify-content: center;
  align-items: center;
}

mat-card {
  margin-top: 30px;
  width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

mat-card-title {
  text-align: center;
  justify-content: center;
  padding: 9px;
  font-size: 20px;
  margin-left: 200px;

}

mat-card-header {
  background: #ecf2f5;
}

mat-form-field {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#btn1 {
  margin-left: 200px;
  background-color: #f5d607;
  color: #090a0a;
}

#btn2 {
  background-color: #090a0a;
  float: right;
  margin-right: 200px;
}
